{% extends 'polls/base.html' %}

{% block content %}
    <h1 class="heads">Stories</h1>
    {% if latest_question_list %}
        <div class="list-group">
        <ul>
        {% for question in latest_question_list %}
          <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul></div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <a href="/new"><button type="button" class="btn btn-primary" name="button">New</button></a>
{% endblock %}
