{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<head>{% load staticfiles %}
{% include 'djeddit/base_stylesheets.html' %}</head>
<body>
  {% block title %}{% endblock %}
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
  {% include 'djeddit/base_scripts.html' %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
